<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="">MENU</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="readSessionStorageValue()" routerLink="/blog">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quiz">QUIZ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">KONTAKT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!readSessionStorageValue()" routerLink="/login">ZALOGUJ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="readSessionStorageValue()" routerLink="/" (click)="logOut()" >WYLOGUJ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" *ngIf="!readSessionStorageValue()" routerLink="/signup" >ZAŁÓŻ KONTO</a>
      </li>
  </ul>
</nav>